<!-- Progress Tracker -->
<section class="mb-12">
    <h2 class="mb-6 text-2xl font-bold">Your Progress</h2>
    <div class="flex flex-wrap items-center justify-center gap-8">
        <div class="text-center">
            <div class="relative w-fit" id="progress-wrapper">
                <div class="absolute top-1/2 transform -translate-1/2 left-1/2">{{ overallProgress.current }} / {{
                    overallProgress.max }}</div>
                <round-progress class="size-[120px] w-full" [current]="overallProgress.current"
                    [max]="overallProgress.max" [rounded]="true" [responsive]="true" [stroke]="20" />
            </div>
            <p class="mt-2 font-medium">Overall Progress</p>
        </div>
        <div class="text-center">
            <div class="relative w-fit" id="progress-wrapper">
                <div class="absolute top-1/2 transform -translate-1/2 left-1/2">{{ lessonsCompleted.current }} / {{
                    lessonsCompleted.max }}</div>
                <round-progress class="size-[120px] w-full" [current]="lessonsCompleted.current"
                    [max]="lessonsCompleted.max" [rounded]="true" [responsive]="true" [stroke]="20" />
            </div>
            <p class="mt-2 font-medium">Lessons Completed</p>
        </div>
        <div class="text-center">
            <div class="relative w-fit" id="progress-wrapper">
                <div class="absolute top-1/2 transform -translate-1/2 left-1/2">{{ dayStreak.current }} / {{
                    dayStreak.max }}</div>
                <round-progress class="size-[120px] w-full" [current]="dayStreak.current"
                    [max]="dayStreak.max" [rounded]="true" [responsive]="true" [stroke]="20" />
            </div>
            <p class="mt-2 font-medium">Day Streak</p>
        </div>
    </div>
</section>