<!-- {/* Recommended Lessons -->
<section class="mb-12">
    <h2 class="mb-6 text-2xl font-bold">Recommended Lessons</h2>
    <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-4">

        @for(lesson of recommendedLessons ; track lesson.id) {
        <div hlmCard class="transition-all hover:shadow-md">
            <div hlmCardHeader class="flex flex-row items-center justify-between pb-2">
                <h3 hlmCardTitle class="text-lg">{{lesson.title}}</h3>
                <i class="{{ lesson.icon }}" style="font-size: 2rem"></i>
            </div>
            <div hlmCardContent>
                <div class="mt-2">
                    <div class="h-2 w-full rounded-full bg-secondary">
                        <div class="h-2 rounded-full bg-green-500" [style.width.%]="lesson.completion"></div>
                    </div>
                    <p class="mt-1 text-right text-sm">{{ lesson.completion }}% complete</p>
                </div>
            </div>
            <div hlmCardFooter>
                <button hlmBtn class="w-full" variant="outline" [routerLink]="`/lessons/${lesson.id}`">
                    {{ lesson.completion > 0 ? 'Continue' : 'Start' }}
                    <i class="pi pi-chevron-right ml-2" [style.fontSize.rem]="1"></i>
                </button>
            </div>
        </div>
        }

    </div>
</section>