<div class="flex min-h-screen flex-col">
  <app-navbar class="sticky top-0 z-50" />
  <div class="flex-1">
    <router-outlet />
  </div>
  <app-footer />
  <!-- <footer className="border-t py-6">
    <div className="container mx-auto flex flex-col items-center justify-between gap-4 px-4 md:flex-row">
      <p className="text-sm text-muted-foreground">
        © {new Date().getFullYear()} Kinyarwanda Learning Platform
      </p>
      <div className="flex items-center gap-4">
        <a href="#" className="text-sm text-muted-foreground hover:underline">
          Terms
        </a>
        <a href="#" className="text-sm text-muted-foreground hover:underline">
          Privacy
        </a>
        <a href="#" className="text-sm text-muted-foreground hover:underline">
          Contact
        </a>
      </div>
    </div>
  </footer> -->
</div>
