<button hlmBtn class="relative" variant="outline" size="icon" [brnMenuTriggerFor]="menu">
  <i class="pi pi-sun transition-all"
    [class]="themeToggleService.isDarkMode() ? '-rotate-90 scale-0' : 'rotate-0 scale-100'" style="font-size: 1.2rem;">
  </i>
  <i class="pi pi-moon absolute  transition-all"
    [class]="themeToggleService.isDarkMode() ? 'rotate-0 scale-100' : 'rotate-90 scale-0'" style="font-size: 1.2rem;">
  </i>
  <span class="sr-only">Toggle theme</span>
</button>

<ng-template #menu>
  <hlm-menu align="end">
    <button hlmMenuItem (click)="setTheme('light')">Light</button>
    <button hlmMenuItem (click)="setTheme('dark')">Dark</button>
    <button hlmMenuItem (click)="setTheme('system')">System</button>
  </hlm-menu>
</ng-template>